#copyUrl {
    grid-area: copyUrl;
    justify-self: baseline;
}

.btn {
    cursor: pointer;
    font-size: 10px;
}

#videosGrid {
    grid-area: videosGrid;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    gap: 1%;
}

#chatArea {
    grid-area: chatArea;
    margin-right: 12%;
}
  
.roomAreaContainer {
padding-right: .5%;
display: grid;
grid-template-columns: 80% 20%;
grid-template-rows: 1% 98% 1%;
gap: 2%;
grid-template-areas: 
    "copyUrl copyUrl"
    "videosGrid chatArea";
}

video {
    width: 100%;
}

#localVideo {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 6vh;
    right: 1%;
}

::placeholder {
    font-size: 8px;
}

.senderName {
    font-size: 12px;
    color: forestgreen;
}

.message {
    word-break: break-all;
}

#chatMessages {
    margin-top: 5%;
    height: 50vh;
    overflow-y: scroll;
}

#writeMessageForm {
    display: grid;
}